<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ToDo-Dashboard</title>
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
       
    {% block style %}
    {% endblock %}
  </head>
  <body class="well">
  	<div id="wrapper">
  		
    {% block body %}
    {% endblock %}
   </div>
		<script src="/static/js/jquery-2.1.1.js"></script> 
    <script src="/static/js/bootstrap-datepicker.js"></script>

    <script src="/static/js/bootstrap.js"></script>
    {% block dependency %}
    {% endblock dependency %}
  </body>
</html>