{% extends "base.html" %}

{% block style %}
<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="user-message"><div class="message" style="display: block;"></div></div>
<label><h2>User Login</h2></label>
<form role="form" method="post" >
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
        <div class="col-md-2 form-group">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-3 form-group">
        <a class="btn btn-primary" href="/register"'>Click here to Register</a>
      </div>
    </div>
</form>
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/reset.js"></script>
{% endblock dependency %}